@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --main-green-color: rgb(21, 136, 48);
    --secondary-green-color: rgb(21, 136, 48);
    --main-text-color: rgb(255,255,255);
    --main-font: 'Roboto', sans-serif;
    --second-font: serif;
    --content-max-width: 70%;
}

.header {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: var(--content-max-width);
    left: 15%;
    top: 0px;
    background-color: var(--main-green-color);
    font-size: 1.75rem;
    justify-content: center;
    align-items: center;
    color: var(--main-text-color);
    height: 4rem;
    font-family: var(--main-font);
}
 .header i {
     margin-right: 2rem;
     margin-left: 2rem;
     font-size: 3rem;
 }

 


 

.footer {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0px;
    width: var(--content-max-width);
    left: 15%;
    height: 2rem;
    font-size: 1.2rem;
    align-items: center;
    background-color: var(--secondary-green-color);
    justify-content: space-between;
    color: var(--main-text-color);
    font-family: var(--second-font);
}


.footer-item:last-child{
    padding-right:2rem;
}
.footer-item:first-child{
    padding-left: 2rem;
}

