@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --main-green-color: rgb(21, 136, 48);
    --secondary-green-color: rgb(21, 136, 48);
    --main-text-color: rgb(255,255,255);
    --main-font: 'Roboto', sans-serif;
    --second-font: serif;
    --content-max-width: 70%;
}

.header {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: var(--content-max-width);
    left: 15%;
    top: 0px;
    background-color: var(--main-green-color);
    font-size: 1.75rem;
    justify-content: center;
    align-items: center;
    color: var(--main-text-color);
    height: 4rem;
    font-family: var(--main-font);
}
 .header i {
     margin-right: 2rem;
     margin-left: 2rem;
     font-size: 3rem;
 }

 

 



.footer-item:last-child{
    padding-right:2rem;
}
.footer-item:first-child{
    padding-left: 2rem;
}

.content {
    width: var(--content-max-width);
    position: absolute;
    left: 15%;

    height: fit-content;
    top: 5rem;
    min-height: 800px;
    font-family: var(--main-font);
}

.welcome-text {
    position: absolute; 
    right: 0;
    user-select: none;
    width: calc(80% + 2rem);
    text-align: center;
    font-size: 5rem;
    top: 1rem;
    color: white;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: var(--main-green-color);
    text-decoration: underline 3px ;
 }
.content-filter {
    background-color: aqua;
    height: 80%;
    width: 12%;
    position: absolute;
    top: 10rem;
}

.item-list {

    position: absolute;
    right: 0;
    top: 9rem;
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 1rem;
    gap: 1rem 1rem;
    justify-content: flex-start;
    padding-left: 2rem;
}

.list-item {
    height: 12rem;
    width: 10rem;
    background-color: white;
    border-radius: 0.5rem;
    border: 1px solid var(--main-green-color);
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    transition: box-shadow 0.3s, border 0.3s;
}

.list-item:hover {
    box-shadow: 0.2rem 0.2rem 0.5rem var(--main-green-color);
    border: none;
}

.card-image {
    border: 2px solid var(--main-green-color);
    position: absolute;
    width: 7rem;
    height: 6rem;
    top: 0.5rem;
}

.card-title {
    color: white;
    -webkit-text-stroke: 1.7px;
    -webkit-text-stroke-color: var(--main-green-color);
    font-size: 2.5rem;
}

.card-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 1rem;
    font-size: 1.25rem;
}

.footer {
    display: flex;
    flex-direction: row;
    display: absolute;
    bottom: 0;
    width: var(--content-max-width);
    left: 15%;
    height: 2rem;
    font-size: 1.2rem;
    align-items: center;
    left: 15%;
    background-color: var(--secondary-green-color);
    justify-content: space-between;
    color: var(--main-text-color);
    font-family: var(--second-font);

}