
{% extends "base_layout.html" %}
{% load static %}
{% block style %}<link rel="stylesheet" href="{% static 'start_screen/style.css'%}"> {% endblock style %}
{% block content %}

    <div class="welcome-page-container">
        <div class="welcome-page-selection-container">
            <div onclick="location.href='/customer'" class="welcome-box">Customer</div>
            <div onclick="location.href='/employee'" class="welcome-box">Employee</div>
        </div>
    </div>

{% endblock content %}