{% extends 'base_layout.html' %}
{% load static %}
{% block style %}<link rel="stylesheet" href="{% static 'product_list/style.css'%}"> {% endblock style %}
        {% block content %}
        <div class="welcome-text">Browse Items</div>
        <div class="content-filter">
            <div class="filter">
                <div class="filter-item"></div>
                <div class="filter-item"></div>
                <div class="filter-item"></div>
                <div class="filter-item"></div>
            </div>
        </div>
        <div id="item-list" class="item-list">
            <div class="list-item">
                <div class="card-image"><img src="#" alt="tomato"/></div>
                <div class="card-title">Tomato</div>
                <div class="card-bottom">
                    <div class="inventory">38 pcs</div>
                    <div class="price">$0.45</div>
                </div>
            </div>
        </div>

        <script>
            var list = document.getElementById('item-list');
            var el = '<div class="list-item"><div class="card-image"><img src="#" alt="tomato"/></div><div class="card-title">Tomato</div><div class="card-bottom"><div class="inventory">38 pcs</div><div class="price">$0.45</div></div></div>';
            for(var i = 0; i < 30; i++) {
                list.innerHTML=list.innerHTML+el;
            }
        </script>

{% endblock %}



